*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-width:100%;
    position:relative;
}
.div1{
    background-color:rgba(0, 0, 0, 0.747);
    
}
h3{
    display:inline-block;
    margin-right:820px;
    color:rgba(255, 255, 255, 0.925);
    font-family:sans-serif;
    font-weight: 400;
}
h1,p{
    font-family:sans-serif;
    text-align:justify;
}
ul{
    text-align:right;
}
li {
   display:inline-block;
   padding:15px;
   font-family:sans-serif;
}

li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.733);
}
@media only screen and(max-width:985px){

}